html,
body {
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 64px;
}
@font-face {
	font-family: "icomoon";
	/* src:  url('./icomoon.eot?3u91s4'); */
	src: url("./iconmoon/icomoon.eot?3u91s4#iefix") format("embedded-opentype"), url("./iconmoon/icomoon.ttf?3u91s4") format("truetype"),
		url("./iconmoon/icomoon.woff?3u91s4") format("woff"), url(".//iconmoon/icomoon.svg?3u91s4#icomoon") format("svg");
}

.icon-headphones:before {
	content: "\e001";
}
.icon-connection:before {
	content: "\e002";
}
.icon-bubbles:before {
	content: "\e003";
}
@font-face {
	font-family: "shengdan";
	src: url("./YiQiShengDanTi.ttf") format("truetype");
}
@font-face {
	font-family: "music";
	src: url("./ZhuLangYinYueFuHaoGePuTi.otf") format("opentype");
}
@font-face {
	font-family: "pragmata";
	src: url("./PragmataPro.ttf") format("truetype");
}
@font-face {
	font-family: "Poppins";
	src: url("./Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto Mono";
	src: url("./Roboto\ Mono/static/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "PingFang SC Ultra Light";
	src: url("./PingFang/PingFangSC/PingFangSC-UltraLight.ttf") format("truetype");
}
@font-face {
	font-family: "PingFang SC Thin";
	src: url("./PingFang/PingFangSC/PingFangSC-Thin.ttf") format("truetype"), url("./PingFang/PingFangSC/PingFangSC-Thin.woff2");
}

@font-face {
	font-family: "PingFang SC Light";
	src: url("./PingFang/PingFangSC/PingFangSC-Light.ttf") format("truetype"), url("./PingFang/PingFangSC/PingFangSC-Light.woff2");
}
@font-face {
	font-family: "PingFang SC Regular";
	src: url("./PingFang/PingFangSC/PingFangSC-Regular.ttf") format("truetype"), url("./PingFang/PingFangSC/PingFangSC-Regular.eot") format("embedded-opentype"),
		url("./PingFang/PingFangSC/PingFangSC-Regular.woff") format("woff"), url("./PingFang/PingFangSC/PingFangSC-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "PingFang SC Medium";
	src: url("./PingFang/PingFangSC/PingFangSC-Medium.ttf") format("truetype"), url("./PingFang/PingFangSC/PingFangSC-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "PingFang SC Semi Bold";
	src: url("./PingFang/PingFangSC/PingFangSC-SemiBold.ttf") format("truetype"), url("./PingFang/PingFangSC/PingFangSC-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "PingFang TC Ultra Light";
	src: url("./PingFang/PingFangTC/PingFangTC-UltraLight.ttf") format("truetype");
}
@font-face {
	font-family: "PingFang TC Thin";
	src: url("./PingFang/PingFangTC/PingFangTC-Thin.ttf") format("truetype");
}
@font-face {
	font-family: "PingFang TC Light";
	src: url("./PingFang/PingFangTC/PingFangTC-Light.ttf") format("truetype");
}
@font-face {
	font-family: "PingFang TC Regular";
	src: url("./PingFang/PingFangTC/PingFangTC-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "PingFang TC Medium";
	src: url("./PingFang/PingFangTC/PingFangTC-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "PingFang TC Semi Bold";
	src: url("./PingFang/PingFangTC/PingFangTC-SemiBold.ttf") format("truetype");
}
